                    #Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1)python
2)R
3)Java

Some of the commonly used libraries used by Data Scientists include:
1)scikit
2)Tensorflow

|Data Science Tools|
|------------------|
|Jupyter           |
|R Program         |
|Matlab            |

In [ ]:
###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
convert_to_hours=minutes/60
print(convert_to_hours)

3.3333333333333335

**Objectives**
List popular languages for Data Science
Create tables using Markdown
Describe open-source development tools used in Data Science
Understand basic concepts of Data Science methodology

##Author##
Rajanikanth A